aiohttp==3.5.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
colorlog==4.6.2
discord==1.0.1
discord.py==1.2.5
idna==2.10
multidict==4.7.6
pycparser==2.20
PyNaCl==1.2.1
requests==2.25.0
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
websockets==6.0
ws4py==0.5.1
yarl==1.5.1
youtube-dl==2020.12.22
